<div id="show-title-block">
  <h1><%= @task.title %></h1>
  <%= link_to edit_task_path(@task), id: "show-edit-button", class: "btn btn-light btn-outline-secondary" do %>
  <i class="fas fa-pencil-alt"></i>Add a new task
  <% end %>
</div>
<div class="card card-body bg-light">
  <%= @task.details %>
</div>
<br>
<div>
  <input type="checkbox" <%= "checked" if @task.completed %> disabled>
  <% if @task.completed %>
  This task is completed
  <% else %>
  This task is not completed yet
  <% end %>
</div>
<hr>
<p><%= link_to "Back to list", tasks_path %></p>
